@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper {
  width: 100%;
}

.custom-modal-width {
  width: 80%; /* Adjust the percentage as per your desired width */
  margin-left: auto;
  margin-right: auto;
}
